.copyright{
    background-color: var(--grey-bar);
}

.row {
    margin: 92px auto 0;
    padding: 37px 0;
    position: relative;
    /* background: #f9f9f9; */
}

.l-constrained-3 {
    margin: 0 auto;
    position: relative;
    width: 1140px;
}

.text-15 {
    float: left;
    margin: 6px 0 0;
    width: 307px;
}

.cards {
    float: right;
    position: relative;
    width: 314px;
}

.cards>* {
    float: left;
    margin: 0 10px 0 0;
    filter: grayscale(1);
}

.cards>*:last-child {
    margin-right: 0 !important;
}

.color222222 {
    color: #222222;
}